<!-- Nav Bar -->
<nav>
  <div class="nav-wrapper" style="border-bottom: 1px solid black;">
    <ul class="left hide-on-med-and-down">
      <a href="#" class="brand-logo center" style="position">NPR News<i class="fa fa-newspaper-o material-icons" style="height:auto;" aria-hidden="true"></i></a>
      <li class="active"><a href="#">Home</a></li>
      <li  class="modal-trigger savedArticles" href="#saveModal"><a>Saved Articles</a></li>
    </ul>
    <ul class="hide-on-med-and-down valign-wrapper right">
      <li><a class="waves-effect halfway-fab waves-effect waves-light hover searchArticle right"> Scrape <i class="material-icons right">add</i></a></li>
    </ul>
    <ul class="left hide-on-large-only">
      <li class="modal-trigger savedArticles" href="#saveModal"><a>Saved Articles</a></li>
      <li><i class="fa fa-newspaper-o material-icons" style="height:auto;" aria-hidden="true"></i></li>
    </ul>
    <ul class="hide-on-large-only valign-wrapper right">
      <li><a class=" waves-effect halfway-fab waves-effect waves-light hover searchArticle right"><i class="material-icons">add</i></a></li>
    </ul>
  </div>
</nav>

<!-- Main Container -->
<div class="container">
  <div class="row">
    {{#each data}}
      <div class="col s12 m12 l6 xl4" id="{{this.url}}" style="display:inline-block;">
        <div class="card" style="min-height:330.662px;">
          <div class="card-image" style="position:relative;">
            <div style="background-color: rgba(0,0,0,0.25); height: 100%; width: 100%; position:absolute; z-index:100;"></div>
            <img src="{{this.imageURL}}">
            <span class="card-title" style="font-size:2.1vh; text-shadow: 1px white; z-index:101;">{{this.headline}}</span>
            <a class="addArticle btn-floating halfway-fab waves-effect waves-light red modal-trigger" style="z-index:101;" href="#modalMessage" data-headline="{{this.headline}} " data-imageURL="{{this.imageURL}}" data-url="{{this.url}}" data-summary="{{this.summary}}"
              data-slug="{{this.slug}}"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{this.slug}}<i class="material-icons right">more_vert</i></span>
            <p><a href="{{this.url}}">Link to Article</a></p>
          </div>
          <div class="card-reveal" style="z-index:102;">
            <span class="card-title grey-text text-darken-4">{{this.slug}}<i class="material-icons right">close</i></span>
            <p>{{this.summary}}</p>
          </div>

        </div>
      </div>
    {{/each}}
  </div>
</div>

<!-- Modals -->

<!-- Message Modal -->
<div id="modalMessage" class="modal waves-effect waves-green center" style="border:3px black solid height: 100%;">
  <div class="modal-content pink">
    <h4>Article Sucessfully Saved! <i class="fa fa-newspaper-o material-icons" style="height:auto;" aria-hidden="true"></i></h4>
  </div>
</div>

<!-- Individual Saved Article Modal -->
<div id="articleModal" class="modal modal-fixed-footer">
  <div class="modal-content center">
    <h4 style="color:black; margin-top: 20px; margin-bottom: 40px;">Article <span id="articleID"></span></h4>
    <div class="articleNotes">
      <div class="boxComments">
        <div class="col s12 m7">
          <div class="card horizontal">
            <div class="card-image">
              <img src="https://lorempixel.com/100/190/nature/6">
            </div>
            <div class="card-stacked center">
              <div class="card-content valign-wrapper">
                <p>No Notes.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Textarea</label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat hover addComment" style="color:white;">Add</a>
  </div>
</div>

<!-- Slide UP Articles Modal Structure -->
<div id="saveModal" class="modal bottom-sheet">
  <div class="modal-content">
    <h4 style="color:black;">Saved Articles</h4>
    <ul class="collection">
    </ul>
  </div>
</div>